html{
	height: 100%;
	width: 100%;
	background-color: blue;
}

h1{
	text-align: center;
}

form{
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 20px;
}

div{
	margin: 10px 0;
}

input[type=text], input[type=email]{
	padding: 12px 0;
}

.italy{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

#buttonsubmit, #buttonreset{
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
}